html{
	font-size: 100%;
}
*{
	box-sizing: border-box;
  padding: 0;
	margin:0;
}

/*search bar*/
.fas{
	color:green;
}
input{
	background: black;
	border: green solid 1px;
	padding: .2rem;
	margin:.5rem;
	color: green;
	font-size: .7rem
}

.date-flex{
	display: flex;
  justify-content: center;
  color: green;
}

.date-flex>p{
	border:none;
}

/* Parent Grid Wrapper in App.js */
.cardWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5rem;
	max-height:100vh;
  margin: 1.5rem;
}
/*Main Layout in CSS GRIS*/
.header{
	  grid-column: 1 / 5;
		grid-row: 1;
	}
.topbar{
	  width: 100%;
	  grid-column: 1 / 5;
		grid-row: 2;}
.sidebar {
	  grid-column:2 / 5;
		grid-row: 3 / 5;
		 }
.footer {
	  grid-column: 1 / 5;
    grid-row: 5
}

/*Topbar layout in Flexbox*/
.topbar-flex{
	display: flex;
	width: 100%;
	height: auto;
  overflow: scroll;
}

.topbar-cards{
padding: .5rem;
}

.topbar-img{
object-fit: cover;/*helps with image aspect ratio*/
width: 300px;
height: 10rem;
}
/*Styling*/
.card-img{
object-fit: cover;/*helps with image aspect ratio*/
max-width: 100%;
}

.cards{
max-width: 100%;;
padding: .5rem 0 .2rem .2rem;
}
.sidebar-cards{
min-width: 100%;
display: flex;
flex-direction: column;
padding: 0.5rem 0 1.8rem 1rem;
}
.sidebar-img{
width: 100%;
object-fit: cover;/*helps with image aspect ratio*/
height: 20rem;
}


a {
	background: -webkit-linear-gradient(11deg,#00d301,#36c275 50%,#00a562);
	background: linear-gradient(79deg,#00d301,#36c275 50%,#00a562);
 -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
	line-height: 1.2rem;
}

h1, h2{
	background: -webkit-linear-gradient(11deg,#00d301,#36c275 50%,#00a562);
	background: linear-gradient(79deg,#00d301,#36c275 50%,#00a562);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
	padding: .5rem
}

h3, p{
  padding: .5rem 0 .5rem 0;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	background: -webkit-linear-gradient(11deg,#00d301,#36c275 50%,#00a562);
	background: linear-gradient(79deg,#00d301,#36c275 50%,#00a562);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
}

 h4{
  padding-top: .5rem;
	padding-bottom: 1rem;
	background: -webkit-linear-gradient(11deg,#00d301,#36c275 50%,#00a562);
	background: linear-gradient(79deg,#00d301,#36c275 50%,#00a562);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
}

.sidebar p{
  padding: .2rem 0 .2rem 0;
  line-height: 1.43;
  background: -webkit-linear-gradient(11deg,#00d301,#36c275 50%,#00a562);
	background: linear-gradient(79deg,#00d301,#36c275 50%,#00a562);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
}

.header, .footer{
	text-align: center;
	padding: 1rem
}

@media (max-width: 600px){
 html {
	 font-size: 70%;
 }
}

@media (min-width: 600px){
.cardWrapper{
	margin: 0 1.5rem 0 1.5rem;
	}
}

@media (min-width: 1000px){
	.sidebar-img{
	height: 25rem;
 }
.cardWrapper{
		margin: 0 6rem 0 6rem;
	}
}

@media (min-width: 1400px){
.cardWrapper{
		margin: 0 10rem 0 10rem;
	}
html{
	font-size: 110%
 }
}

@media (min-width: 1800px){
html{
	font-size: 150%
 }
}

/* @media (max-width: 500px){
.wrapper {
    grid-template-columns: repeat(4, 1fr);}
.b {grid-column: 1/5;
    grid-row: 2}
.c {grid-column: 1/5;
    grid-row: 3}
.d {grid-column: 1/5;
    grid-row: 4}
.e {grid-column: 1/5;
    grid-row: 5}
.f {grid-column: 1/5;
    grid-row: 6}
.g {grid-column: 1/5;
    grid-row: 7}
   .hero-img{height: 150px}
} */
